<div class="jumbotron jumbotron-fluid d-flex align-content-center">
  <div class="container align-self-center">
    <h1 class="display-3">Front End Web Developer</h1>
    <p class="lead">
      "Hello! I'm Danilo, future full-stack developer currently based in San Diego, CA."
    </p>
  </div>
</div>

<div class="project-container container d-flex align-content-center justify-content-center">
  <!--<div class="card-group">
    <div class="card">
      <img class="card-img-top img-fluid" src="../../assets/Images/spinMountain.jpeg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Project 1</h4>
        <p class="card-text">This is the first portfolio project.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top img-fluid" src="../../assets/Images/waterSplash.jpeg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Project 2</h4>
        <p class="card-text">This is the second portfolio project.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top img-fluid" src="../../assets/Images/leafDew.jpeg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Project 3</h4>
        <p class="card-text">This is the third portfolio project.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>-->

  <div class="projects">
    <img class="" src="../../assets/Images/spinMountain.jpeg" alt="Card image cap">
    <img class="" src="../../assets/Images/waterSplash.jpeg" alt="Card image cap">
    <img class="" src="../../assets/Images/leafDew.jpeg" alt="Card image cap">
  </div>
  <div class="projects">
    <img class="" src="../../assets/Images/spinMountain.jpeg" alt="Card image cap">
    <img class="" src="../../assets/Images/waterSplash.jpeg" alt="Card image cap">
    <img class="" src="../../assets/Images/leafDew.jpeg" alt="Card image cap">
  </div>
  <div class="projects">
    <img class="" src="../../assets/Images/spinMountain.jpeg" alt="Card image cap">
    <img class="" src="../../assets/Images/waterSplash.jpeg" alt="Card image cap">
    <img class="" src="../../assets/Images/leafDew.jpeg" alt="Card image cap">
  </div>
  <div class="projects">
    <img class="" src="../../assets/Images/spinMountain.jpeg" alt="Card image cap">
    <img class="" src="../../assets/Images/waterSplash.jpeg" alt="Card image cap">
    <img class="" src="../../assets/Images/leafDew.jpeg" alt="Card image cap">
  </div>
</div>

<div class="skills container d-flex align-content-center justify-content-center">
  <div class="row align-content-center justify-content-center">
    <h2 class="align-self-center">SKILLS</h2>
    <div class="row col-12 justify-content-between">
      <p>Proficient:</p>
        <ul>
          <li>HTML</li>
            <img src="../../assets/svg/html5Logo.svg" alt="html5">
          <li>CSS</li>
            <img src="../../assets/svg/css3Logo.svg" alt="css3">
          <li>Javascript</li>
        </ul>
      <p>Knowledgeable:</p>
        <ul>
          <li>Ionic 2</li>
          <li>Angular 2</li>
        </ul>
      <p>Some Experience:</p>
        <ul>
          <li>Node.js</li>
          <li>MongoDB</li>
          <li>Strongloop</li>
        </ul>
    </div>
  </div>
</div>

<app-footer></app-footer>