/* You can add global styles to this file, and also import other style files */
:root {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 1rem;
}

body {
    background-color: #1899dc;

    /*background-image: url(https://static.pexels.com/photos/6675/flight-mountains-sky-flying.jpeg);
    background-repeat: no-repeat;
    background-size: cover;*/
}